*{
padding:0px;
margin:0px;
box-sizing:border-box;
}
.header{
	height:800px;
	width:100%;
	background-image:url('images/picture1.jpg');
background-repeat:no repeat;
}
#zoom{
	height:300px;
	width:300px;
	
}
 /* abouts */
.abouts{
	display:flex;

	
	
}
.z1{
	
	width:60%;
	
		float:left;
		font-family:Times New Roman;
		text-align:center;
		
				
       
}

.z1 h1{
	text-align:center;

	height:80px;

	

	
	
}

.z2{
	width:40%;
	
	float:right;
	display:flex;
		margin-top:70px;
	
}

.z2 img{
	height:200px;
	width:230px;
	margin-top:50px;
	margin-left:20px;
	
}


/* eat */
#sa{
height:500px;
width:100%;
}
#sr{
height:40px;
font-size:20px;
background:#34cfeb;
display:flex;

}
.fa-brands{
width:350px;
text-align:center;
line-height:45px;
display:flex;
padding-top:10px;
}

#ab{
width:70px;
color:black;

}
li{
width:100px;
}

#as{
background-color:;
margin:0px;
}
#as img{
display:flex;
/* box-shadow: 20px 10px white; */
	margin :0px!important;
}
#ft {
	height:400px;
}
#ft img{

	height:200px;
	margin-top:20px;
}
.about {
height:400px;
width:500px;
color:white;
text-align:center;	


}
.about img{
width:100px;
margin-top:30px;
}
.about1{
height:400px;
width:520px;
background:;
padding-left:80px;
padding-top:50px;
margin-left:px;


}
#email{
height:40px;
width:300px;
}
button{
height:40px;
width:150px;
background:blue;
}


footer{
justify-content:center;
	background:grey;
	 display:flex;
	color:white;

		
}
footer h6{
	text-align:center;
}
.img-fluid{
width:100%;
height:100%;
}


